.bottom-bar {
  grid-area: bottom-bar;
}

.text-interface-button {
  border: 0.5px black solid;
  display: inline-block;
  width: 18px;
  border-radius: 2px;
  padding: 2px;
  margin: 4px;
  text-align: center;
  cursor: pointer;
}

div.sceditor-toolbar {
  float: left;
  background-color: var(--navbar-color);
  border: none;
}

.text-preview {
  background-color: var(--main-fg-color);
  padding: 20px;
}

.topic-title-input {
  margin: 10px;
  height: 30px;
  width: 500px;
}

.text-area textarea,
.text-area form {
  width: 100%;
  height: 100%;
  resize: none;
}

textarea {
  padding: 20px;
}

.bottom-bar {
  background-color: var(--navbar-color);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-bar span.float-right {
  float: right;
}

.text-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
