:root {
  --main-bg-color: #ccc;
  --main-fg-color: #eee;

  --navbar-color: #012a4a;
  --navbar-hover-color: #013a63;

  --aside-bg-color: #ccc;
  --aside-header-color: #ccc;

  --box-shadow: 10px 10px 8px #888888;
}

/* :root {
  --main-bg-color: #219ebc;
  --main-fg-color: #8ecae6;

  --navbar-color: #023047;
  --navbar-hover-color: #013a63;

  --aside-bg-color: #126782;
  --aside-header-color: #ffb703;
} */

/* :root {
  --main-bg-color: #ccc5b9;
  --main-fg-color: #fffcf2;
  --navbar-color: #403d39;
  --navbar-hover-color: #eb5e28;
  --aside-bg-color: #fffcf2;
} */

/* html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
  overflow: auto;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  padding: 0 20px;
  grid-area: main;
}

a,
button {
  cursor: pointer;
}

div.content {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 48px 0 0 0;
}

.subsection-summary,
.topic-summary,
.page {
  background-color: var(--main-fg-color);
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.clickable {
  cursor: pointer;
}

.fa {
  padding: 0 0 0 7px;
}

.btn {
  cursor: pointer;
}

.topic-summary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
}

.topic-summary div {
  margin: 0 10px;
}

/* .number-col {
  text-align: right;
} */

.center-align {
  text-align: center;
}

.subsection-summary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
}

/* .last-post {
  font-size: 90%;
} */
