.post {
  background-color: var(--main-fg-color);
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  box-shadow: var(--box-shadow);
}

.thumbs {
  margin: 0 20px 0 0;
}

.fa-thumbs-up,
.fa-thumbs-down {
  color: #777;
  cursor: pointer;
  font-size: 125%;
}

.fa-thumbs-up:hover,
.fa-thumbs-up-liked {
  color: rgb(6, 138, 6);
}

.fa-thumbs-down:hover,
.fa-thumbs-down-disliked {
  color: red;
}

.avatar {
  width: 75px;
  height: 75px;
}

.like-count {
  color: green;
  font-weight: bold;
  padding: 0 0 0 5px;
}

.dislike-count {
  color: red;
  font-weight: bold;
  padding: 0 0 0 5px;
}

.post-content {
  overflow: auto;
  overflow-wrap: break-word;
}

/* .post-info div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
} */

.poster {
  margin-bottom: 10px;
}
