body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.navbar li {
  float: left;
}

.bottom-bar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-link {
  background-color: #333;
}

ul.navbar li a,
ul.navbar li span,
.bottom-bar a,
.bottom-bar span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  float: left;
}

.bottom-bar span {
  float: right;
}

.nav-link:hover {
  background-color: #111;
}

a {
  cursor: pointer;
}

.post {
  background-color: #ddd;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 2fr 17fr 1fr;
}

.text-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-area textarea,
.text-area form {
  width: 100%;
  height: 100%;
  resize: none;
}

textarea {
  padding: 20px;
}

.text-interface-button {
  border: 0.5px black solid;
  display: inline-block;
  width: 18px;
  border-radius: 2px;
  padding: 2px;
  margin: 4px;
  text-align: center;
  cursor: pointer;
}

div.sceditor-toolbar {
  float: left;
  background-color: #333;
  border: none;
}

.text-preview {
  background-color: #ddd;
  padding: 20px;
}

button {
  cursor: pointer;
}

.topic-title-input {
  margin: 10px;
  height: 30px;
  width: 500px;
}
