body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.navbar li {
  float: left;
}

.bottom-bar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul.navbar li a,
ul.navbar li span,
.bottom-bar a,
.bottom-bar span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
  cursor: pointer;
  border: none;
  float: left;
}

.bottom-bar span {
  float: right;
}

ul.navbar li a:hover,
ul.navbar li span:hover,
.bottom-bar a:hover,
.bottom-bar span:hover {
  background-color: #111;
}

a {
  cursor: pointer;
}

.post {
  background-color: #ddd;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
